@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}



// normalize css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, ::before, ::after {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
  text-align: center;
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, a {
  cursor: pointer;
}

// ******** MY GLOBAL CSS ********* //
a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 60px;
  min-height: calc(100vh - 120px);
  padding-bottom: 2rem;
  text-align: center;
}

$my-gold:  rgb(194, 169, 102);

p.error {
  color: indianred;
  margin-top: 0;
  padding-bottom: 1rem;
}

p.success {
  color: seagreen;
  padding-bottom: 1rem;
}

h1, h2 {
  color: rgb(94, 82, 56);
}

input, textarea, select {
  border:  1px solid $my-gold;
}

p.page-loading {
  padding: 2rem 0;
}


.button {
  background-color: $my-gold;
  color: black;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  margin: 1rem;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
}



// ******** HEADER ********* //

header {
  background-color: rgb(246, 237, 222);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 3;

  nav#navbar-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    padding-right: 1rem;


    div#brand {
      display: flex;
      align-items: center;
      span {
        font-family: 'Pacifico', cursive;
        font-size: 1.3rem;
        color: rgb(94, 82, 56);
      };
      img.brand-icon {
        width: 46px;
        height: auto;
        border-radius: 50px;
      }
    }


    a#basket {
      color: rgb(94, 82, 56);
      font-size: 1.5rem;
      position: relative;
      margin-left: 0.7rem;

      span.nbItems {
        color:rgba(94, 82, 56, 0.9);
        background-color: whitesmoke;
        border: 1px solid rgba(94, 82, 56, 0.9);
        border-radius: 50%;
        padding: 0.2rem;
        height: 1.2rem;
        width: 1.2rem;
        position: absolute;
        left: 50%;
        bottom: 35%;
        font-size: 0.65rem;
        font-weight: bold;

      }
    }

    a#user {
      color: rgb(94, 82, 56);
      font-size: 1.2rem;
    }
  }

  div.connexion-menu {
    background-color: white;
    position: absolute;
    top: 60px;
    right: -100%;
    height: 175px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100vw;

    a{
      display: block;
      width: 60%;
      margin: 1rem auto;
      background-color: rgb(94, 82, 56);
      border: none;
      border-radius: 2px;
      padding: 0.5rem;
      color: white;
    }

    .fa-xmark {
      color: indianred;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

  }
}

div.connexion-menu.display-menu {
  right: 0;
  -webkit-transition: all 0.4s, -webkit-transform 0.4s;
  transition: all 0.4s, transform 0.4s;
}


// ******** HOME ********* //
section.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url("https://plus.unsplash.com/premium_photo-1681965550198-c1c039421905?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
  text-align: end;

  h1, p {
    padding-top: 1rem;
    color: rgba(246, 237, 222, 1);
    text-shadow: 2px 1px 2px black;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-weight: lighter;
  }

  p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  a.banner-btn {
    width: 200px;
    text-align: end;
    padding: 0.7rem;
    border-radius: 10px;
    border: 0.5px solid rgb(0, 0, 0, 0);
    background-color: rgba(246, 237, 222, 0.85);;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);

    font-size: 1.1rem;
    color: rgb(94, 82, 56);

  }

  button.banner-btn:hover{
    background-color: rgba(246, 237, 222, 1);
  }

}

section.introduction {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    width: 100%;
    margin-top: 1rem;

    h2 {
      padding: 1rem 0;
      font-size: 1.3rem;
    }

    p {
      margin: 1rem 0;
      text-align: justify;
      font-size: 0.9rem;
    }

    iframe {
      height: 169px;
      width: 300px;
    }
  }

}

section.section-activities {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h1, h2 {
    margin: 2.5rem 0 1rem;
    font-size: 1.4rem;
    width: 100%;
  }

  div.btn-all-activities {
    display: block;
    width: 100%;
    margin: 1rem 0;

    a{
      width: 250px;
      background-color: $my-gold;
      color: black;
      border: none;
      border-radius: 2px;
      margin: 1rem 0 0.2rem;
      padding: 0.5rem;
      text-align: center;
      font-size: 0.9rem;
    }

  }

}

section.section-comments {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h2 {
    padding-top: 1.5rem;
    font-size: 1.4rem;
    width: 100%;
  }
}


// ******** LOGIN / REGISTER FORM  ********* //
section.login-register-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  font-size: 0.9rem;

  > * {
    width: 100%
  }

  h1{
    font-size: 1.3rem;
    padding: 1.5rem 0;
  }

  form {
    border: 1px solid $my-gold;
    border-radius: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;

    > * {
      width: 90%;
    }

    > label {
      padding: 1rem 0 0.5rem;
    }

    button {
      background-color: $my-gold;
      color: black;
      border: none;
      border-radius: 2px;
      padding: 0.5rem;
      margin: 1rem 0;
      width: 65%;
    }
  }

  a {
    padding-top: 0.5rem;
  }
}

// ******** FORGOT FORM ********* //
section.forgot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  font-size: 0.9rem;

  h1{
    font-size: 1.3rem;
    padding: 1.5rem 0;
    width: 100%;
  }

  form {
    border: 1px solid $my-gold;
    border-radius: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;

    > * {
      width: 90%;
    }

    > label {
      padding: 1rem 0 0.5rem;
    }

    button {
      background-color: $my-gold;
      color: black;
      border: none;
      border-radius: 2px;
      padding: 0.5rem;
      margin: 1rem 0;
      width: 65%;
    }
  }
}


// ******** ALL ACTIVITIES ********* //
section.all-activities {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h1, h2 {
    margin: 2.5rem 0 1rem;
    font-size: 1.4rem;
    width: 100%;
  }

  h3 {
    font-weight: bold;
    margin-top: 1rem;;
  }

  form.filter-activities {
    width: 100%;
    border: 1px solid $my-gold;
    margin: 1rem 0;
    padding: 1rem;
    text-align: left;
    position: relative;
    display: none;

    .fa-xmark {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 1.3rem;
      cursor: pointer;
    }

    div.categories, div.author-is-provider, div.time, div.distance {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      margin: 0.5rem 0 2rem;

      p {
        width: 100%;
        font-weight: bold;
        padding-bottom: 0.5rem;
      }
    }

    div.categories {
      span {
        width: 100%;
        padding-bottom: 0.3em;
      }
    }

    div.time {
      justify-content: space-between;

      p {
        padding-bottom: 1rem;
      }

      span {
        font-weight: bold;;
      }
      .range-slider {
        width: 200px;
        height: 12px;
        border-radius: 12px;
        background: #c5c5c9;
      }

      .range-slider .range-slider__range {
        background: $my-gold;
        transition: height 0.3s;
      }

      .range-slider .range-slider__thumb {
        background: $my-gold;
        transition: transform 0.3s;
      }

      .range-slider .range-slider__thumb[data-active] {
        transform: translate(-50%, -50%) scale(1.2);
      }

      .range-slider .range-slider__range[data-active] {
        height: 16px;
      }

    }

    div.distance {
      justify-content: space-around;

      span {
        font-weight: bold;
      }

      input[type="range"]#distance {
        accent-color: $my-gold;
        border: none;
      }

    }

    input[type="radio"]#authorIsProvider, input[type="checkbox"] {
      accent-color: black;
    }

    div.buttons {
      display: flex;
      justify-content: space-evenly;

      button {
        width: 50%;
        margin: 0 0.5rem;
      }
    }

  }

}



// ******** CREATE ACTIVITY FORM ********* //
section.create-update-activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  font-size: 0.9rem;

  > * {
    width: 100%;
  }

  h1{
    font-size: 1.3rem;
    padding: 1.5rem 0;
  }

  form {
    border: 1px solid $my-gold;
    border-radius: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;

    > * {
      width: 90%;
    }

    > label {
      margin: 1rem 0 0.5rem;
      font-weight: bolder;
      color: rgb(94, 82, 56);
    }

    > input, select {
      margin-bottom: 1rem;
    }

    fieldset.location {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem;

      > * {
        width: 100%;
      }

      legend {
        margin-bottom: 0.5rem;
        font-weight: bolder;
        color: rgb(94, 82, 56);
      }

      > label {
        padding: 0.5rem 0;
      }

    }

    fieldset.provider-or-not {
      legend {
        padding-top: 1rem;
        font-weight: bolder;
        color: rgb(94, 82, 56);
      }
      input[type="radio"]:checked {
        accent-color:  black;
      }
      input {
        margin: 0.5rem 0.3rem 1rem;
      }
    }

    button {
      background-color: $my-gold;
      color: black;
      border: none;
      border-radius: 2px;
      padding: 0.5rem;
      margin: 1rem 0;
      width: 50%;
    }

    button.validate {
      width: 80%;
    }

    img.details-image{
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 1%;
    }
  }
}

// ******** COMMENT CARD ********* //
article.comment-card {
  margin: 2rem 0.5rem ;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.6rem 0.5rem;
  width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: white;
  font-size: 0.9rem;

  h3 {
    font-weight: bold;
  }

  div.comment-card-data {
    text-align: left;
    padding-left: 1rem;
    width: 60%;
  }

  h3.comment-card-username{
    text-transform: capitalize;
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  img.comment-card-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }

  p.comment-card-score{
    font-size: 0.8rem;
    font-weight: bold;
    color:  rgba(94, 82, 56, 0.9);
  }

  h3.comment-card-title{
    padding: 0.5rem 0 0.1rem;
    font-size: 0.9rem;
    width: 100%;
  }

  p.comment-card-content{
    font-size: 0.8rem;
    margin: 0;
    opacity: 0.7;
    width: 100%;
  }

}


// ******** ACTIVITY CARD ********* //
article.activity-card {
  margin: 1.5rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0 0rem 0.5rem;
  border-radius: 1.5px;
  position: relative;
  transition: transform 0.1s;

  .activity-card-picture {
    width: 100%;
    height: 140px;
    object-fit: cover;
  };

  div.activity-card-data {
    padding: 0.5rem 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
  }

  h3 {
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
  };

  p.activity-card-description {
    font-size: 0.8rem;
    opacity: 0.7;
    margin: 0.5rem 0 0 0;
    width: 85%;
  };

  p.activity-card-points {
    width: 15%;
    font-weight: bold;
    margin: 0;
    padding-top: 1rem;
    position: relative;
    text-align: center;

    span {
      position: absolute;
      top: 35%;
      font-size: 0.7rem;
      color: rgba(0,0,0,0.8);
    }
  }

  img.activity-card-avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
    position: absolute;
    right: 16px;
    top: 120px;
  };

  a.activity-card-btn{
    width: 100%;
    background-color: $my-gold;
    color: black;
    border: none;
    border-radius: 2px;
    margin: 1rem 0 0.2rem;
    padding: 0.4rem 0;
    text-align: center;
    font-size: 0.9rem;
  }
}

article.activity-card:hover{
  -ms-transform: scale(1.09); /* IE 9 */
  -webkit-transform: scale(1.09); /* Safari 3-8 */
  transform: scale(1.09);
}


// ******** ACTIVITY DETAILS ********* //
section.activity-details {
  padding: 3% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div.go-back {
    display: block;
    text-align: right;
    width: 100%;
    margin: 1rem 0;
  }

  button {
    background-color: $my-gold;
    color: black;
    border: none;
    border-radius: 2px;
    padding: 0.3rem 0.5rem;
  }

  div.activity-details-first-part, div.activity-details-second-part {
    margin-top: 1.5rem;
    width: 90%;
  }

  div.activity-details-second-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  p {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  img.details-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1%;
  }

  img.details-activity-avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }

  div.zone-to-book {
    margin: 1rem 0;
    width: 100%;
  }

  article.article-comments {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h2 {
      font-family: 'Pacifico', cursive;
      padding: 1rem 0;
      font-size: 1.2rem;
      width: 100%;
    }
  }

  article.author-zone {
    width: 100%;
    margin-top: 2rem;
    border: 1px solid $my-gold;
    border-radius: 2px;
    font-size: 0.9rem;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      text-align: center;
      padding-top: 1rem;
    }

    h3 {
      padding-bottom: 1rem;
    }
  }

}


// ******** PROFILE ********* //
section.profile {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div.logout-link {
    display: block;
    text-align: right;
    width: 100%;
  }

  h1{
    width: 100%;
    margin: 1.1rem 0;
    font-size: 1.5rem;
  }

  div.avatar-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;

    .profile-avatar {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: white 1px solid;
      margin: 0 auto 0.5rem;
    }
  }

  article.profile-user-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid $my-gold;
    border-radius: 2px;

    > * {
      width: 100%;
      padding: 0.5rem 0;
      font-size: 0.9rem;
    }

    div.user-actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      > * {
        width: 100%;
        padding-bottom: 0.7rem;
      }
    }
  }


  article {
    margin: 1.5rem 0;
    width: 100%;

    h2{
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .tabs {
      border: 1px solid $my-gold;
      border-radius: 2px;
      margin: 0 auto;
      display: grid;
      grid-template-rows: min-content 1fr;
      margin-bottom: 2rem;
      min-height: 100px;
    }

    .tabs-btn-container{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    button.tab {
      border: 1px solid transparent;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 0.9rem;
      background-color: whitesmoke;
      margin: 0.4rem 0rem;
      width: 30%;
      cursor: pointer;
    }

    button.active-tab {
      border-bottom: 2px solid;
      border-bottom-color: $my-gold;
      color: black;
      font-weight: bold;
    }

    .tab-content {
      border-top: 1px solid;
      border-color: $my-gold;
      grid-area: 2 / 1 / 3 / 2;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s ease-out;
      font-size: 0.9rem;
      ul, p {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease-out;
      }
      li, p {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease-out;
      }
      li:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
      }

      li a {
        display: block;
      }
    }

    .active-tab-content {
      visibility: visible;
      opacity: 1;
      ul, p {
        visibility: visible;
        opacity: 1;
      }
      li, p {
        padding: 0.7rem 0;
        visibility: visible;
        opacity: 1;
        border-top: 1px solid;
        border-color: $my-gold;
      }
    }
  }

}


// slider
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.switch p {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: rgb(195, 174, 109);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


// ******** BASKET ********* //
section.basket {
  padding: 2rem 1rem 1rem;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 1.3rem;
  }

  button {
    margin-top: 1rem;
    background-color: $my-gold;
    color: black;
    border: none;
    border-radius: 2px;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    width: 200px;
  }

  ul {
    margin: 1rem auto;
    max-width: 600px;
  }

  div.no-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
      padding: 1rem 0 2rem;
      width: 90%;
      font-size: 0.9rem;
    }
    a {
      background-color: $my-gold;
      color: black;
      border: none;
      border-radius: 2px;
      padding: 0.3rem 0.5rem;
      font-size: 0.8rem;
      width: 200px;
    }

  }

  li.basket-item {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    justify-content: left;
    font-size: 0.75rem;
    margin-top: 1rem;
    position: relative;
    height: 80px;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }

    .basket-item-data{
      text-align: left;
      width: 70%;
      padding: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3{
        font-weight: bold;
        padding-bottom: 0.1rem;
      }

      button {
        width: 150px;
        font-size: 0.75rem;
        margin: 0 auto 0.1rem;
      }

      p.basket-description-activity {
        display: none;
        padding-bottom: 0.3rem;
      }
    }

    p.deleteItem{
      font-size: 1.1rem;
      position: absolute;
      right: 10px;
      top: 5px;
      z-index: 3;
      cursor: pointer;
    }

    p.error-booking{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1rem;
      color: rgb(237, 40, 40);
      text-shadow: 0 1px 1px rgb(237, 40, 40);
      width: 100%;
      height: 100%;
      padding: 2rem 4rem;
      z-index: 2;
      background-color: rgba(128, 128, 128, 0.1);
      backdrop-filter: blur(3px)
    }
  }
}


// ******** ADMIN DASHBOARD ********** //
section.admin {
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  hr {
    margin: 5% 25%;
    color: $my-gold;
    border-style: none;
    border-bottom-style: dotted;
    border-width: 8px;
    width: 50px;
  }

  div.logout-link {
    display: block;
    text-align: right;
    width: 100%;
  }

  h1 {
    font-size: 1.3rem;
    margin: 3rem 0 2rem;
    width: 100%;
  }

  table {
    width: 100%;
  }

  table, td {
    border: 1px solid $my-gold;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  article {
    h2 {
      font-size: 1.1rem;
      margin-bottom: 0.9rem;
    }
    margin: 1.5rem 0;
    width: 100%;
  }

  article.create-new-category {
    height: 100px;
    border:  1px solid $my-gold;
    border-radius: 2px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
      padding: 0.3rem;
    }
    button {
      background-color: $my-gold;
      color: black;
      border: none;
      border-radius: 2px;
      padding: 0.3rem 0.5rem;
      font-size: 0.8rem;
      margin: 0 0.5rem;
    }
  }

}

// ******** ADMIN MODERATE ACTIVITY AND COMMENT ********** //
section.moderate {
  padding: 1rem 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    font-size: 1.3rem;
    margin: 1rem;
    width: 100%;
  }

  article.activity-data, article.comment-data {
    width: 95%;
    h2 {
      font-size: 1.1rem;
      padding: 1rem 0 0.5rem;
    }

    p {
      font-size: 0.9rem;
      padding: 0.4rem 0;
    }
  }

  img.details-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 1%;
    margin-top: 1rem;
  }

  form {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    width: 90%;
    border: 1px solid $my-gold;

    fieldset {
      input[type="radio"]:checked {
        accent-color:  black;
      }
      legend {
        padding-bottom: 0.5rem;
      }
    }

    div {
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      span {
        padding-bottom: 0.5rem;

        width: 90%;
      }
    }

  }


  button {
    background-color: $my-gold;
    color: black;
    border: none;
    border-radius: 2px;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    width: 200px;
    margin-top: 0.5rem;
  }
}

// ******** BOOKING PAGE ********* //
section.booking {
  padding: 1rem 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    font-size: 1.3rem;
    margin: 2rem 0 1rem;
    width: 100%;
  }

  hr {
    color: $my-gold;
    border-style: none;
    border-bottom-style:solid;
    border-width: 1px;
    width: 90%;
  }

  article {
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
    font-size: 0.9rem;

    h2 {
      font-size: 1.1rem;
      padding-bottom: 1rem;
    }

    h3 {
      font-size:0.9rem;
      font-weight: bold;
      padding-bottom: 1rem;
    }

    p {
      padding: 0.2rem 0;
    }

    button {
      background-color: $my-gold;
      color: black;
      border: none;
      border-radius: 2px;
      padding: 0.3rem 0.5rem;
      font-size: 0.8rem;
      width: 200px;
    }

    fieldset {
      p {
        padding-top: 0.5rem;
      }
    }
  }

  article.participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
      width: 100%;
    }

    div {
      width: 35%;
    }
    .profile-avatar {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: white 1px solid;
      margin: 0 auto 0.5rem;
    }
  }

  article.finished {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > * {
      width: 90%;
    }
    form {
      border:  1px solid $my-gold;
      border-radius: 2px;
      padding: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > * {
        width: 80%;
      }

      select {
        text-align: center;
        width: 30%;
      }

      > input, textarea, select {
        border:  1px solid $my-gold;
      }

      > label {
        padding: 1.5rem 0 0.5rem;
      }

      button {
        margin: 1rem 15rem;
        width: 200px;
      }
    }

    p.message-comment {
      color: rgb(78, 77, 77);
      padding-bottom: 0.5rem;
    }
  }

  article.waiting {

    fieldset {
      input[type="radio"]:checked {
        accent-color:  black;
      }
    }
  }

  article.booking-comment {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
      width: 100%;
      padding: 0;
    }

    article.comment-card {
      width: 300px;
    }
  }
}

// ******** FOOTER ********* //
footer {
  background-color: rgb(246, 237, 222);
  display:flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  a, p {
    padding: 0 0.5rem;
    color: rgb(94, 82, 56);
  }
}



/* ADAPTATION TABLETTES */
@media screen and (min-width: 721px){

  header {
    div.connexion-menu {
      background-color: white;
      position: absolute;
      top: 60px;
      right: -100%;
      height: 200px;
      width: 300px;
      padding: 2rem 0;

      button{
        width: 60%;
        margin: 1rem 0;
        background-color: rgb(94, 82, 56);
        border: none;
        border-radius: 2px;
        padding: 0.5rem;
        a {
          color: black;
          font-weight: bold;
        }
      }

      .fa-xmark {
        color: indianred;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

    }
  }

  /* home */
  section.introduction {
    div {
      width: 80%;

      iframe {
        padding-top: 1rem;
        height: 240px;
        width: 400px;;
      }

      h2 {
        font-size: 1.4rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  section.activity-details {
    align-items: center;

    div.activity-details-first-part {
      width: 30%;
      margin: 0;
      // margin: 1.5rem 1rem;
    }

    div.activity-details-first-part, div.activity-details-second-part {
      width: 50%;
      // margin: 1.5rem 1rem;
    }

    img.details-image{
      width: 250px;
      height: 250px;
    }

    article.author-zone {
      width: 80%;
    }
  }

  section.profile {
    article{
      width: 80%;
    }

    article.profile-user-data {

      div.user-actions {
        > * {
          width: 33%;
        }
      }
    }
  }

  section.admin {
    article {
      width: 80%;
    }
  }

  section.basket {
    li.basket-item {
      font-size: 0.8rem;
      height: 100px;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      h3 {
        font-size: 0.85rem;
      }

      .basket-item-data{

        width: 80%;
        p.basket-description-activity {
          display: block;
        }
      }
    }
  }

  section.booking {

    article.participants {
      div {
        width: 25%;
      }
    }

    article.finished{
      form {
        width: 60%;
      }
    }
  }

  section.login-register-edit {
    form {
      width: 50%;

      > * {
        width: 70%;
      }

      button {
        width: 50%;
      }


    }
  }

  section.moderate {

    article.activity-data {
      width: 40%;
      margin-top: 3rem;
      margin-right: 3rem;
    }

    article.comment-data {
      width: 70%;
    }

    form {
      width: 75%;
    }
  }

  section.forgot {
    form {
      width: 400px;
    }
  }

  section.create-update-activity {
    form {
      width: 60%;

      > * {
        width: 80%;
      }
    }
  }
}

/* ADAPTATION DESKTOP */
@media screen and (min-width: 1024px){

  /* home */

  section.introduction {
    justify-content: space-around;

    div {
      width: 40%;
      margin: 2rem 3rem;
    }

    iframe {
      height: 225px;
      width: 372px;
    }
  }


  section.activity-details {
    align-items: center;
    justify-content: center;

    div.activity-details-first-part, div.activity-details-second-part {
      width: 35%;
      margin: 2.5rem 2rem;
    }

    img.details-image{
      width: 325px;
      height: 325px;
    }

    article.author-zone {
      width: 60%;
    }
  }

  section.profile {

    article.profile-user-data {
      width: 60%;
    }

    article{
      width: 45%;
      margin: 1rem;
    }

  }

  section.basket {
    li.basket-item {
      .basket-item-data{
        p.basket-description-activity {
          display: block;
        }
      }
    }
  }

  section.admin {
    padding: 1.5rem 6rem;
    article {
      h2 {
        font-size: 1.2rem;
        margin-bottom: 1.1rem;
      }
      width: 40%;
      margin: 1rem;
    }

    hr {
      margin: 3% 30%;
    }

    h1 {
      font-size: 1.6rem;
      margin: 4rem 0 3rem;
    }

    article.create-new-category {
      height: 100px;
      border:  1px solid $my-gold;
      border-radius: 2px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3.25rem;
    }
  }

  section.booking {

    hr {
      width: 50%;
    }

    article.finished{
      form {
        width: 50%;
      }
    }

    article.participants {
      div {
        width: 10%;
      }
    }
  }

  section.login-register-edit {
    form {
      width: 40%;

      button {
        width: 35%;
      }
    }
  }

  section.create-update-activity {
    form {
      width: 45%;

      > * {
        width: 70%;
      }

      button {
        width: 35%;
        margin: 1rem;
      }

      button.validate {
        width: 35%;
        margin: 1rem;
      }
    }
  }

}
